apps/kestra/discord/sync-channels.yaml
id: discord-sync-channels
namespace: lovelace.ingestion
description: "Fetch Discord Channels via DLT and push to Kafka"

inputs:
  - id: guildId
    type: STRING
    required: true
  - id: gameId
    type: STRING
    required: true
  - id: stepSlug
    type: STRING
    required: true
  - id: temporalWorkflowId
    type: STRING
    required: true

tasks:
  - id: sync_channels
    type: io.kestra.plugin.scripts.python.Commands
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      image: ghcr.io/supportlovelace/lovelace-ingestion:latest
      pullPolicy: ALWAYS
      networkMode: lovelace-infra_default
      credentials:
        registry: ghcr.io
        username: supportlovelace
        password: "{{ secret('GITHUB_PACKAGES_TOKEN') }}"
    env:
      DISCORD_TOKEN: "{{ secret('DISCORD_TOKEN') }}"
      KAFKA_BROKERS: "redpanda:9092"
      GAME_ID: "{{ inputs.gameId }}"
      STEP_SLUG: "{{ inputs.stepSlug }}"
      WORKFLOW_ID: "{{ inputs.temporalWorkflowId }}"
    commands:
      - python /app/scraping/discord/channels.py {{ inputs.guildId }} > result.json
    outputFiles:
      - result.json

  - id: init_progress
    type: io.kestra.plugin.core.http.Request
    uri: "http://100.111.190.11:3000/admin/onboarding/{{ inputs.gameId }}/{{ inputs.stepSlug }}/progress"
    method: POST
    headers:
      x-user-id: "{{ secret('SYSTEM_USER_ID') }}"
    contentType: application/json
    body: |
      {
        "totalItems": {{ json(read(outputs.sync_channels.outputFiles['result.json'])).count }},
        "workflowId": "{{ inputs.temporalWorkflowId }}"
      }

# Gestion d'erreurs
errors:
  - id: notify_temporal_error
    type: io.kestra.plugin.core.http.Request
    uri: "http://100.111.190.11:3000/admin/onboarding/kestra/callback"
    method: POST
    headers:
      x-user-id: "{{ secret('SYSTEM_USER_ID') }}"
    contentType: application/json
    body: |
      {
        "temporalWorkflowId": "{{ inputs.temporalWorkflowId }}",
        "status": "FAILED",
        "result": { "error": "Discord Channels Sync Failed" }
      }
