apps/kestra/metacritic_sync.yaml
id: metacritic-sync
namespace: lovelace.ingestion
description: "Sync Metacritic Scores via Zyte"

inputs:
  - id: slug
    type: STRING
    required: true
  - id: gameId
    type: STRING
    required: true
  - id: temporalWorkflowId
    type: STRING
    required: true

tasks:
  - id: scrape_metacritic
    type: io.kestra.plugin.scripts.python.Commands
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      image: ghcr.io/supportlovelace/lovelace-ingestion:latest
      pullPolicy: ALWAYS
      networkMode: lovelace-infra_default
      credentials:
        registry: ghcr.io
        username: supportlovelace
        password: "{{ secret('GITHUB_PACKAGES_TOKEN') }}"
    env:
      ZYTE_API_KEY: "{{ secret('ZYTE_API_KEY') }}"
    commands:
      - python /app/scraping/metacritic_score.py {{ inputs.slug }} > result.json
    outputFiles:
      - result.json

  - id: notify_temporal_success
    type: io.kestra.plugin.core.http.Request
    uri: "http://100.111.190.11:3000/admin/onboarding/kestra/callback"
    method: POST
    headers:
      x-user-id: "{{ secret('SYSTEM_USER_ID') }}"
    contentType: application/json
    body: |
      {
        "temporalWorkflowId": "{{ inputs.temporalWorkflowId }}",
        "status": "SUCCESS",
        "result": {{ read(outputs.scrape_metacritic.outputFiles['result.json']) }}
      }

errors:
  - id: notify_temporal_error
    type: io.kestra.plugin.core.http.Request
    uri: "http://100.111.190.11:3000/admin/onboarding/kestra/callback"
    method: POST
    headers:
      x-user-id: "{{ secret('SYSTEM_USER_ID') }}"
    contentType: application/json
    body: |
      {
        "temporalWorkflowId": "{{ inputs.temporalWorkflowId }}",
        "status": "FAILED",
        "result": { "error": "Metacritic Scrape Failed" }
      }
